.everything{
	background-color: #e9e6ff;
	color:#FF4B3E;
	font-family: "Arial"
}
#h1{
	color:#73683B;
	text-align:center;
	font-size:100px;
}
#p1{
	color:#b0a084;
	text-align:center;
	font-size:50px;
}
#p2{
	color:#13262f;
	text-align:center;
	font-size:25px;
}
a{
	text-align:center;
}